:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --transition-speed: 600ms;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 75px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
}

a {
  text-align: center;
  margin-bottom: 85px;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
}

p {
  text-align: center;
  margin-bottom: 5px;
    font-size: 15px;
    line-height: 70px;
    text-align: center;
}
