:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --transition-speed: 600ms;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 75px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
}

a {
  text-align: center;
  margin-bottom: 85px;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

footer{
/**if you want the footer stick to bottom remove the comment**/
/**
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  **/
  background: #111;
  height: auto;
  width: 100%;
  font-family: Monospace;
  padding-top: 40px;
  color: #fff;
}



.footer-content{
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-content img{
  width: 60px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-bottom span a{
  text-decoration: none;
  color: #fff;
}
